<!-- <p [ngClass] = "{'blue':true,'red':false,'underline':true}">directory works!</p> -->
<p> {{ninja}} </p>
<!-- <p *ngIf = "true">Only show if test is true</p> -->
<h2>Ninja Listing</h2>
<ul id="ninja-listing">
    <li *ngFor="let ninja of ninjas">
        <div class="single-ninja">
            <!-- Belt colour -->
            <span [ngStyle]="{background:ninja.belt}">{{ninja.belt}} belt</span>
            <!-- Ninja name -->
            <h3>{{ninja.name}}</h3>
            <div >delete</div>
        </div>
    </li>
</ul>





<style>
    .blue{
        color: blue;
    }
    .red{
        color: red;
    }
    .underline{
        text-decoration: underline;
    }
</style>