<!-- <p [ngClass] = "{'blue':true,'red':false,'underline':true}">directory works!</p> -->
<p> {{ninja}} </p>
<!-- <p *ngIf = "true">Only show if test is true</p> -->
<h2>Ninja Listing</h2>
<form id="filter">
    <label> Filter ninjas by name : </label>
    <input type="text" ng-model="term" />
</form>
<ul id="ninja-listing">
    <li *ngFor="let ninja of ninjas ">
        <div class="single-ninja">
            <!-- Belt colour -->
            <span [ngStyle]="{background:ninja.belt}">{{ninja.belt}} belt</span>
            <!-- Ninja name -->
            <!-- <h3>{{ninja.name | uppercase}}</h3> -->
            <h3>{{ninja.name}}</h3>
            <div >delete</div>
        </div>
    </li>
</ul>
<button (click)="logIt()">Log me</button>
<style>
    .blue{
        color: blue;
    }
    .red{
        color: red;
    }
    .underline{
        text-decoration: underline;
    }
</style>